# Игнорируем папку с зависимостями
node_modules/

# Игнорируем конфигурацию ESLint
eslint.config.mjs

# Игнорируем файлы блокировки (если не нужны)
package-lock.json
package.json

# Игнорируем временные и лог-файлы
*.log

# Игнорируем пользовательские конфигурации
.env
.DS_Store

# Игнорируем сборочные и временные папки
dist/
build/

# Исключаем редакторские настройки
.vscode/
.idea/
